.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before {
  display: table;
  content: " ";
}
.container:after {
  display: table;
  content: " ";
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after, .row:before {
  display: table;
  content: " ";
  clear: both;
}
.col-1, .col-2, .col-3, .col-4 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.col-1 {
  width: 25%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}