/**
 * Online SCSS to CSS converter
 * http://www.sassmeister.com/
 */
#calculator {

  width: 280px;

  &.color-highlight {
    color: #fff;
  }

  .text.txt-right {
    text-align: right;
  }

  /* Buttons */
  .button {
    float: left;
    padding: 6px 12px;
    margin: 0;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    width: 70px;
    height: 70px;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;

    &.btn-small {
      height: 56px;
    }
  
    &.btn-default {
      background: #4C4C4C;
      
      &:hover {
        background: #29A060;
      }
      
    }
  
    &.btn-light {
      background: #666666;
  
      &:hover {
        background: #E74D41;
      }
  
    }
    
  }

  /* Display */
  .display {
    
    background-color: #73DAEB;
 
    .operation, .result {
      background: #73DAEB;
    }
    
    .operation {
      padding: 20px 20px 0;
      font-size: 2.5em;
      min-height: 66px;
      -webkit-transition: background 0.5s; /* Safari */
      transition: background 0.5s;
      
      &.error {
        background: #E74D41;
      }
      
    }
    
    .result {
      padding: 20px;
      font-size: 3.5em;
    }
    
    .equals {
      font-size: 2.5em;
      padding-top: 30px;
    }
  
  }

}